

 
<body>
	<div class="search">	
	<%# input append ensures that the text box and the submit button are aligned%>
	<div class="input-append">
			<%# Puts the search box in the right hand side of the nav bar%>
			<form class="navbar-search pull-right">
			<%= form_tag events_path, :method => 'get' do %>
  				<%= text_field_tag :search, params[:search] %>
  				 <button type="submit" class="btn btn-inverse">
   					 search <i class="icon-search icon-white"></i> 
   				</button>
			<% end %>
			</form>
 	</div>
 	</div>
 </ul>
 <br/>
  <br/>
   <br/>
   
    
 
 <div class="listing">	
 
<div class="event_item">
 <table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <%# Hides these elements on small screens%>
    <th class="hidden-phone">Description</th>
    <th class="hidden-phone">Date</th>
    <th class="hidden-phone">Price</th>
    <th class="hidden-phone">Genre</th>
    <th class="hidden-phone">Location</th>
  </tr>
  </thead>
<tbody>

<%@events.each do |event| %>

<tr>
	<td><%= link_to (image_tag (event.image_url.to_s), :class =>"img-rounded"), event %></td>
    <td><%= link_to event.title, event %></td>
    <td class="hidden-phone"><%= event.description %></td>
    <td class="hidden-phone"><%= event.date %></td>
    <td class="hidden-phone"><%= number_to_currency( event.price, :unit => '&euro;') %></td>
    <td class="hidden-phone"><%= event.genre %></td>  
    <td class="hidden-phone"><%= event.location %></td>


    

    <% if current_user %>
        <td class="hidden-phone"><%= button_to 'Edit', edit_event_path(event), :method => :get, :class =>"btn btn-inverse"%>
    	<%= button_to 'Delete', event, :class => "btn btn-inverse", confirm: 'Are you sure?', method: :delete %></td>
    <% end %>  

  </tr>


<% end %>
  </tbody>
</table>
  </div> 

</div>




    

<h1><%= @events.size %> events found within your search radius</h1>
<ol>
<% @events.each do |event| %>
<li><%= event.title %><br/></li>
<% end %>
</ol>

<% @events.each do |event| %>
  <% event.nearbys(10).each do |event| %>
    <li><%= link_to event.title %> (<%= event.distance.round(2) %> miles)</li>
  <% end %>
<% end %>

<br/>
<br/>
<br/>
<br/>
<div id="map"><%# gmaps4rails(@json) %><%#gmaps(:map_options => {:detect_location => true, :center_on_user => true })%>
<%#= gmaps( :map_options => {  :detect_location => true},
           :markers     => { :data => @json } 
         ) %>
         
         <%= gmaps( #:map_options => { :disableDefaultUI => true, :auto_adjust => true, :detect_location => true, :center_on_user => true },
         :markers     => { :data => @json}
         
         
         
         #:scripts     => :none  
         ) %>
         </div>
         

  


</body>
 <% content_for :scripts do %>
        <script type="text/javascript">
        var lat;
    	var lng;
    	//var markerArray = <%= raw (@events)%>;
        
   (Gmaps.map.geolocationSuccess = function(){
          if(Gmaps.map.callback){
            lng = Gmaps.map.userLocation.lng();
            lat = Gmaps.map.userLocation.lat();
            Gmaps.map.addMarkers([{
                "lng": lng,
                "lat": lat,
                "picture": "http://gmaps-samples.googlecode.com/svn/trunk/markers/pink/blank.png",
                "width": "37",
                "height": "34",
                
            }]);
              console.log ("test")
  // addEventMarkers = function()
  // if(Gmaps.map.callback){
  // Gmaps.map.addMarkers{
  // Event.near([lat,lng],2)
   
  // }
   
   
     //Gmaps.map.addMarkers([<%= raw (@json)%>]);}       
        
  // Gmaps.map.addMarkers(<%=raw @json %>);
   
       console.log("shit")
                 
      
//$(document).ready(function() {
  //  Gmaps.map.callback = function() {
    //  _.each(Gmaps.map.markers, function(marker) {
      //  console.log("blah")
     // })
    //}
  //});
       
        $.ajax({
                type: 'POST',
                url: 'events/index',
                dataType: 'json',
                data: "latitude=" + lat + "&longitude=" + lng,          
              });
          

     
       
       //if(Gmaps.map.callback2){
       //Gmaps.map.addMarkers(markerArray);
       //console.log ("test")
       //}
        
        
       // $.getJSON('events/index.json', function() {
  //console.log(data); //you'll find your json here
//});
        //  $(document).ready(function() {
  //Gmaps.map.callback = function() {
  // Gmaps.map.addMarkers(<%=raw @json %>);
  
 //}
 
 //$(document).ready(function() {
 
// Gmaps.map.callback = function() {
 // Gmaps.map.addMarkers([<%= raw (@json)%>]);}
        
  // Gmaps.map.addMarkers(<%=raw @json %>);
   
       console.log("shit2")

 
  }//)
}

 
 
 
 //};)     
        //$.post("index.html.erb");
        
       
 		//$.ajax({
		//url: '/events',
        //type: 'POST',
        //dataType: 'json',
        //data: "latitude=" + lat + "&longitude=" + lng,
      //    success: function(data) {
      //      alert("Successful");
      //    },
       //   failure: function() {
       //     alert("Unsuccessful");
       //   }
       //cache: true,
       //success: function (data) {}
   //  });
//}
            
	//} 
	
	//}
		)    
        </script>
        <% end %>
         
<%#= javascript_include_tag :all %>
<%#= stylesheet_link_tag :all %>

