<h1></h1>


<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Date</th>
    <th>Area</th>
    <th>Genre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.description %></td>
    <td><%= event.price %></td>
    <td><%= event.date %></td>
    <td><%= event.area %></td>
    <td><%= event.genre %></td>
  </tr>
<% end %>
</table>
<br/>
<br/>
<br/>
<br/>


