
<div class=event_item>

<p>
  <%= image_tag (@event.image_url.to_s),:class =>"img-rounded", :size => "800x800"%>

</p>

<p>
  <b><%= @event.title %></b>
</p>

<p id="description">
  <%= @event.description %>
</p>


<p>
  <%= @event.date %>
</p>
<p>
  <%= @event.genre %>
</p>

<p>
  <%= @event.area %>
</p>


<p>
	
	<%= number_to_currency( @event.price, :unit => '&euro;') %>
 
</p>
<% if current_user %>
		<%= button_to 'Edit', edit_event_path(@event), :method => :get, :class =>"btn btn-inverse"%>
    	<%= button_to 'Delete',@event, :class => "btn btn-inverse", confirm: 'Are you sure?', method: :delete %></td>
 <% end %> 
</div>


