
<div class=event_item>

<p>
  <%= image_tag @event.image_url.to_s %>

</p>

<p>
  <b><%= @event.title %></b>
</p>

<p id="description">
  <%= @event.description %>
</p>


<p>
  <%= @event.date %>
</p>
<p>
  <%= @event.genre %>
</p>

<p>
  <%= @event.area %>
</p>


<p>
	</b><%= number_to_currency( @event.price, :unit => '&euro;') %>
 
</p>
<% if current_user %>
<%= link_to 'Edit', edit_event_path(@event) %> 
 <% end %> 
</div>


