<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>What's happenin' in my 'hood?</title>
  <%#=enables Bootstrap's responsive layout %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 

  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "gmaps4rails" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

  <div id="wrap">
  <div class="navbar navbar-fixed-top">
 	<div class="navbar navbar-inverse">
    	<div class="navbar-inner">
      		<div class="container">
      		<%#ensures navbar is reposnive on resize of browser window%>
       			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          			<span class="icon-bar"></span>
          			<span class="icon-bar"></span>
          			<span class="icon-bar"></span>
       			</a>
        
        		<%= link_to "What's happenin in my hood?", "/maps", :class => "brand" %>
        		
        		<div class="nav-collapse">
          			<ul class="nav">
            			<li><a href="/maps"><i class="icon-home icon-white"></i> Home</a></li>
            			<li><a href="/events">Events</a></li>
            			<li><a href="/contact">Contact</a></li>
            			<%#displays username and logout link if the user is logged in%>
            			<% if current_user %>
							<li class="dropdown">
    							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
      								Admin
      								<b class="caret"></b>
    							</a>
    							<ul class="dropdown-menu">
      								<li>
    									<a href="../events/new">Add new event</a>
  									</li>
  									<li>
  										<a href="../users/new">create new user</a>
  									</li>
    							</ul>
  							</li>
					


	
            				<li><%= link_to "Log Out", session_path("current"), method: "delete" %></li>
            				<li><div id="login">Logged in as <%= current_user.name %></div></li>
    					<% end %>
          			</ul>
        		</div>
    		</div>
    	</div>  
	</div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do %>
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= msg %>
      <% end %>
    <% end %>
    <%= yield %>
    
  </div>

       <div id="push"></div>
    </div>
  <div id="footer">
    <hr/>
      <p>&copy; Amy McCarthy 2012</p>
  </div>

</body>
  <%= yield :scripts %>
</html>
